<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/blue_sofa" android:label="@string/app_name">
        <activity android:name=".Login"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ahbap"
          android:theme="@android:style/Theme.NoTitleBar"></activity>
            <activity android:name=".Arama" 
          android:theme="@android:style/Theme.NoTitleBar"></activity>
            <activity android:name=".Mesaj" 
          android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
        	android:name=".SingUp"
        	android:theme="@android:style/Theme.Dialog"></activity>
        <activity
        	android:name=".Activate"
        	android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
        	android:name=".Profil"
        	android:theme="@android:style/Theme.NoTitleBar"></activity>
        	 <activity
        	android:name=".A"
        	android:theme="@android:style/Theme.NoTitleBar"></activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>